検索結果
<br>
<table>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= image_tag(url_for(icon_of_users_path(user)), size: '100x100') %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'プロフィール', profile_path(user.id , key: 6), target: :_blank, rel: "noopener noreferrer" %>
</td>
      </tr>
    <% end %>
    
    <% if @user.size == 0 %>
      <p>検索結果がありませんでした</p>
    <% end %>
  </tbody>
</table>
<br>
<p><%= flash[:danger] %></p>
<%= link_to '検索画面', user_search_path %>