<h1>友だち検索</h1>
<p>ハッシュタグ検索</p>
<%= form_tag(user_result_path) do %>
    <%= text_field_tag "search[hobby]" %><%= submit_tag "検索" %>
<% end %>
<br>
<p>学年・組で検索</p>
<%= form_tag(user_result_path) do %>
    <%# select_tag "grade", options_from_collection_for_select(User.grades, "id", "name"), include_blank: true %>
    <%= select_tag "search[grade]", options_for_select(User.grades), include_blank: true %>
    <%= select_tag "search[klass]", options_for_select(User.klasses), include_blank: true %><%= submit_tag "検索" %>
<% end %>