<%# <%= form_with(model: group) do |form| %>
  <%# <% if group.errors.any? %>
    <%# <div id="error_explanation"> %>
      <%# <h2><%= pluralize(group.errors.count, "error") %> 

      <%# <ul> %>
        <%# <% group.errors.each do |error| %>
          <%# <li><%= error.full_message %></li>
        <%# <% end %>
      <%# </ul> %>
    <%# </div> %>
  <%# <% end %>
<%= form_with(model: group) do |form| %>

  <div class = "row">
    <div class = "col-md-2">　</div>
    <div class = "col-md-8">
      <div class = "mozi">
                    <% if @group.errors.any? %>
                    <%# <strong><%= @user.errors.count個のエラーがあります</strong> %>
                    <ul>
                        <% @group.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                    <% end %>
      </div>
    </div>
    <div class = "col-md-2">　</div>
  </div>

  <div class = "row">
    <div class = "col-md-2">　</div>

      

    <div class = "col-md-8">
      <div class="field">
        <div class = "contaner">
          <%= form.label :group_name, 'グループ名', class: "form-label" %>
          <%= form.label :group_name, '　必須', class: "form-label ab"%>
        </div>
          <%= form.text_field :group_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :user_id, '作成者ＩＤ', class: "form-label" %>
        <%# <%= form.text_field :user_id %> 
        <%# <%= form.select :user_id, User.all.map { |user| [user.name, user.id]} %>
        <h6><%= current_user.name %></h6>
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class="field">
        <div class = "contaner">
          <%= form.label :comment, 'グループ紹介', class: "form-label" %>
          <%= form.label :グループ紹介, '　必須', class: "form-label ab"%>
        </div>
        <%= form.text_area :comment, class: "form-control" %>
      </div>

      <div class="field">
        <div class = "contaner">
          <%= form.label :hobby_1, '趣味１', class: "form-label" %>
          <%= form.label :趣味１, '　必須', class: "form-label ab"%>
        </div>
        <%= form.text_field :hobby_1, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :'趣味２' %>
        <%= form.text_field :hobby_2, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :'趣味３' %>
        <%= form.text_field :hobby_3, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :'趣味４' %>
        <%= form.text_field :hobby_4, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :'趣味５' %>
        <%= form.text_field :hobby_5, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit '登録', class: "btn btn-secondary" %>
      </div>
    </div>
    <div class = "col-md-2">　</div>
  </div>
<% end %>

