<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'グループ名' %>
    <%= form.text_field :group_name %>
  </div>

  <div class="field">
    <%= form.label :'作成者ＩＤ' %>
    <%# <%= form.text_field :user_id %> 
    <%= form.select :user_id, User.all.map { |user| [user.name, user.id]} %>
  </div>

  <div class="field">
    <%= form.label :'コメント' %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :'趣味１' %>
    <%= form.text_field :hobby_1 %>
  </div>

  <div class="field">
    <%= form.label :'趣味２' %>
    <%= form.text_field :hobby_2 %>
  </div>

  <div class="field">
    <%= form.label :'趣味３' %>
    <%= form.text_field :hobby_3 %>
  </div>

  <div class="field">
    <%= form.label :'趣味４' %>
    <%= form.text_field :hobby_4 %>
  </div>

  <div class="field">
    <%= form.label :'趣味５' %>
    <%= form.text_field :hobby_5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
