<p id="notice"><%= notice %></p>
<div class = "row">
  <div class = "col-md-2"><p>　</p></div>
  <div class = "col-md-8">
    <h1>グループチャット</h1>
  </div>
  <div class = "col-md-2"><p>　</p></div>
  
</div> 


<div class = "row">　</div> 

<div class = "row">
  <div class = "col-md-1">　</div>
  <div class = "col-md-10">　
    <h6><%= link_to 'グループ作成', new_group_path %></h6>
  </div>
  <div class = "col-md-1">　</div>
</div> 

<div class = "row">　</div>

<div class = "row">
  <div class = "row">
    <div class = "col-md-1">　</div>
    <div class = "col-md-5">
      <h5>参加済み</h5>
      <div class="scroll">
        <span>
        <div class = "row">
          <% @groups.each do |group| %>
              <%# <td><%= link_to 'Edit', edit_group_path(group) %></td> 
              <%# <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
            <div class = "row text-center example2">
              <span><%= non_read_groupmessage_by_group(group.id) %></span>
              <div class = "col-md-4">
                <p><%= group.group_name %></p></div>
              <div class = "col-md-8">
                <div class = "row">
                  <div class = "col-md-4"><p><%= link_to '詳細', group %></p></div>
                  <div class = "col-md-4">
                    <P>
                      <%# <p><%= link_to '参加する', groupmessages_path(group_id: group.id)</p> %>
                    <% groupmember = open_groupmember_record(group.id) %>
                    <% if groupmember == false %>
                      <%= form_with(model: @gmember_new) do |form| %>
                        <%= form.hidden_field :user_id, value: current_user.id %>
                        <%= form.hidden_field :group_id, value: group.id %>
                        <%= form.submit "参加", class: "form-control" %>
                        <%# <%= form.submit '参加' %>
                      <% end %>
                    
                    <% else %>
                    <%= link_to groupmessages_path(group_id: group.id) do %>
                <%= button_tag "参加", class: "form-control" %>
                <% end %>
                    <% end %>
                    <%# <p><%= button_tag "参加", id: "groupchat_submit", class: "form-control"</p> %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        </span>
      </div>
    </div>
    <div class = "col-md-5">
      <div class = "row">
        <%= form_tag(groups_search_path) do %>
          <h5 class = "form-label">グループ検索</h5>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon">＃</span>
            <input type="text" class="form-control" id="search[hobbys]" name="search[hobbys]" placeholder="趣味を入力">
          </div>
          <div class = "row text-center">
            <div class = "mozi showAnswer">
              <%= submit_tag "検索", class: "btn btn-secondary" %>
            </div>
          </div>
        <% end %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class = "row">　</div>
      <div class = "row">
        <div class = "row">
          <h5>検索結果</h5>
        </div>
        <div class = "row">　</div>
        <div class="scroll">
          
          <div class = "row">
            <span>
            <% @group.each do |group| %>
                <%# <td><%= link_to 'Edit', edit_group_path(group) %></td> 
                <%# <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
              <div class = "row text-center">
                <div class = "col-md-4"><p><%= group.group_name %></p></div>
                <div class = "col-md-8">
                  <div class = "row">
                    <div class = "col-md-4"><p><%= link_to '詳細', group %></p></div><div class = "col-md-4"><p><%= link_to '参加する', groupmessages_path(group_id: group.id) %> </p></div>
                  </div>
                </div>
              </div>
            <% end %>
            </span>
            <p><%= @message %></p>
            
            <br>
          </div>
          
        </div>
      </div>
    </div>
    <div class = "col-md-1">　</div>
  </div>            
  <div class = "row">　</div>

</div>

<div class = "row">
  <div class = "col-md-1">　</div>
  <div class = "col-md-10">
    <%= link_to '戻る', chat_top_path(@user_id) %>
  </div>
  <div class = "col-md-1">　</div>
</div> 