<p id="notice"><%= notice %></p>

<p>
  <strong>グループ名:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>作成者ＩＤ:</strong>
  <%= @group.user_id %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @group.comment %>
</p>

<p>
  <strong>趣味1:</strong>
  <%= @group.hobby_1 %>
</p>

<p>
  <strong>趣味2:</strong>
  <%= @group.hobby_2 %>
</p>

<p>
  <strong>趣味3:</strong>
  <%= @group.hobby_3 %>
</p>

<p>
  <strong>趣味4:</strong>
  <%= @group.hobby_4 %>
</p>

<p>
  <strong>趣味5:</strong>
  <%= @group.hobby_5 %>
</p>

<%# <%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to '戻る', groups_path %>
