<p id="notice"><%= notice %></p>

<div class = "row" >
  <div class = "col-md-2">　</div>
  <div class = "col-md-8" >
    <div class = "row" >
      <div class = "col-md-6">
        <h3>グループ名　<%= @group.group_name %></h3>
      </div>
      <div class = "col-md-6">
        <br>
        <h6>作成者　<%= @user.name %></h6>
      </div>
      </div>
  </div>
  <div class = "col-md-2">　</div>
</div>

<div class = "row" >
  <div class = "col-md-2">　</div>
  <div class = "col-md-8" >
    <div class = "row" >
      <div class = "col-md-6">
      　
      </div>
      <div class = "col-md-6">
        <br>
        <%= link_to '参加する', groupmessages_path(group_id: @group.id) %>
      </div>
    </div>
  </div>
  <div class = "col-md-2">　</div>
</div>


<div class = "row">　</div>
<div class = "row">　</div>

<div class = "row" >
  <div class = "col-md-2">　</div>
  <div class = "col-md-8">
    <h5>グループ紹介</h5>
    <h6><%= @group.comment %></h6>
  </div>
  <div class = "col-md-2">　</div>
</div>

<div class = "row">　</div>
<div class = "row">　</div>

<div class = "row">
  <div class = "col-md-2">　</div>
  <div class = "col-md-8">
    <h5>趣味</h5>
  </div>
  <div class = "col-md-2">　</div>
</div>
<div class = "hobby">
  <div class = "row">
    <div class = "col-md-2">　</div>
    <div class = "col-md-8">
      <div class = "row">
        <p>
        <div class = "col-md-2">
          <% if @group.hobby_1.present? %>
            ＃<%= @group.hobby_1 %>
          <% end %>
        </div>
        <div class = "col-md-2">
          <% if @group.hobby_2.present? %>
            ＃<%= @group.hobby_2 %>
          <% end %>
        </div>
        <div class = "col-md-2">
          <% if @group.hobby_3.present? %>
            ＃<%= @group.hobby_3 %>
          <% end %>
        </div>
        <div class = "col-md-2">
          <% if @group.hobby_4.present? %>
            ＃<%= @group.hobby_4 %>
          <% end %>
        </div>
        <div class = "col-md-2">
          <% if @group.hobby_5.present? %>
            ＃<%= @group.hobby_5 %>
          <% end %>
        </div>
        <div class = "col-md-2">　</div>
        </p>
      </div>
      <div class = "col-md-2">　</div>
    </div>
  </div>
</div>
<br>

<div class = "row">
  <div class = "col-md-2">　</div>
  <div class = "col-md-8">
    <% if @group.user_id == current_user.id%>
      <p><%= link_to 'グループ情報変更', edit_group_path(@group) %></p>
    <% end %>
  </div>
  <div class = "col-md-2">　</div>
</div>

<div class = "row">
  <div class = "col-md-2">　</div>
  <div class = "col-md-8">
    <%= link_to '戻る', groups_path %>
  </div>
  <div class = "col-md-2">　</div>
</div>

