<p id="notice"><%= notice %></p>

<h1>ブロック中</h1>

<table border="1">
  <thead>
    <tr>
      <th>アイコン</th>
      <th>名前</th>
    </tr>
  </thead>

  <tbody>
      <% @block.each do |block| %>
        <tr>
          <td><%= image_tag(url_for(icon_of_users_path(block.blocked_user_id)), size: '100x100') %></td>
          <td><%= block.blocked_user.name%></td>
          <td><%= link_to 'プロフィール', profile_path(block.blocked_user_id , key_block: 5) %> </td>
        </tr>
      <% end %>


  </tbody>
</table>

<br>

<%= link_to '戻る', profile_path(current_user.id) %>
