<%= form_with(model: groupmessage_read_check) do |form| %>
  <% if groupmessage_read_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groupmessage_read_check.errors.count, "error") %> prohibited this groupmessage_read_check from being saved:</h2>

      <ul>
        <% groupmessage_read_check.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :groupmessage_id %>
    <%= form.number_field :groupmessage_id %>
  </div>

  <div class="field">
    <%= form.label :read %>
    <%= form.check_box :read %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
