<%= form_with(model: @user,url:user_path(@user.id)) do |form| %>
    <% if @user.errors.any? %>
        <strong><%= @user.errors.count %>個のエラーがあります</strong>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form.label :name, 'なまえ' %>
    <%= form.text_field :name %>

    <%= form.label :profile, '自己紹介' %>
    <%= form.text_field :profile %>

    <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
    </div>

    <div class="field">
    <%= form.label :学年 %>
    <%= form.select :grade, User.grades.keys.to_a %>
    </div>

    <div class="field">
    <%= form.label :組 %>
    <%= form.select :klass, User.klasses.keys.to_a %>
    </div>

    <%= form.label :hobby_1, '趣味1' %>
    <%= form.text_field :hobby_1 %>

    <%= form.label :hobby_2, '趣味2' %>
    <%= form.text_field :hobby_2 %>

    <%= form.label :hobby_3, '趣味3' %>
    <%= form.text_field :hobby_3 %>

    <%= form.label :hobby_4, '趣味4' %>
    <%= form.text_field :hobby_4 %>

    <%= form.label :hobby_5, '趣味5' %>
    <%= form.text_field :hobby_5 %>

    <p>
        <table>
            <tr>
                <td><%= form.label :color_bgcolor_blue, "あお" %></td>
                <td><%= form.radio_button :color, :bgcolor_blue %></td>

                <td><%= form.label :color_bgcolor_pink, "ぴんく" %></td>
                <td><%= form.radio_button :color, :bgcolor_pink %></td>

                <td><%= form.label :color_bgcolor_yellow, "きいろ" %></td>
                <td><%= form.radio_button :color, :bgcolor_yellow %></td>

                <td><%= form.label :color_bgcolor_green, "みどり" %></td>
                <td><%= form.radio_button :color, :bgcolor_green %></td>

                <td><%= form.label :color_bgcolor_purple, "むらさき" %></td>
                <td><%= form.radio_button :color, :bgcolor_purple %></td>

                <td><%= form.label :color_bgcolor_orange, "おれんじ" %></td>
                <td><%= form.radio_button :color, :bgcolor_orange %></td>
            </tr>
        </table>
    </p>

    <%= form.submit '更新' %>

<% end %>