<h1>利用者プロフィール</h1>

<% if @user.follows.blank? %>
    <%= form_with(model: @favorite) do |form| %>
        <%= form.hidden_field :user_id, value: @user.id %>
        <%= form.submit %>
    <% end %>
<% else %>
    <div>フォロー中</div>
<% end %>

<p>ユーザーネーム:<%= @user.user_name  %></p>
<p>なまえ:<%= @user.name %></p>

<p>
    <strong>アイコン:</strong>
    <% if @user.icon.present? %>
        <p><%= image_tag(url_for(icon_of_users_path(@user)), size: '100x100') %></p>
    <% end %>
</p>

<p>クラス:<%= @user.grade %><%= @user.klass %></p>
<p>自己紹介:<%= @user.profile %></p>
<p>趣味１:<%= @user.hobby_1 %></p>
<p>　　２:<%= @user.hobby_2 %></p>
<p>　　３:<%= @user.hobby_3 %></p>
<p>　　４:<%= @user.hobby_4 %></p>
<p>　　５:<%= @user.hobby_5 %></p>

<p><%= link_to 'プロフィール編集', edit_user_path(current_user) %></p>

<p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
<p><%= link_to '削除', unsubscribe_path(@user), method: :delete, data: { confirm: '本当に削除しますか?'} %></p>