<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <td><%= image_tag(url_for(icon_of_pictures_path(@picture)), size: '100x100') %></td>
</p>

<%# <p> %>
  <%# <strong>Icon:</strong>
  <%= @picture.icon %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
