<p id="notice"><%= notice %></p>

<%# <p>
  <strong>User:</strong>
  <%= @follow.user_id %>
<%# </p> %>

<%# <p>
  <strong>Followed user:</strong>
  <%= @follow.followed_user_id %>
<%# </p> %>

<table border="1">
  <tr><th>フォローユーザー</th><th>フォロワー</th></tr>
    <% @follows.each do |follow| %>
    <tr>
      <td><%= follow.user_id %></td>
      <td><%= follow.followed_user_id %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_follow_path(@follow) %> |
<%= link_to 'Back', follows_path %>
