<p id="notice"><%= notice %></p>

<h1>フォロー中</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <%# <th>フォロワー</th> %>
    </tr>
  </thead>

  <tbody>
      <% @follower.each do |follow| %>
        <tr>
          <td><%= follow.user.name%></td>
          <%# <td><%= follow.followed_user.name%></td>
          <td><%= link_to 'プロフィール', profile_path(follow.user_id) %> </td>
          <%# <td><%= link_to 'Edit', edit_follow_path(follow) </td> %>
          <%# <td><%= link_to 'Destroy', follow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

      

  </tbody>
</table>

<br>