<p id="notice"><%= notice %></p>


<div class = "row">
  <div class = "col-md-2"><p>　</p></div>
  <div class = "col-md-8">
    <h1>個人チャット</h1>
  </div>
  <div class = "col-md-2"><p>　</p></div>
  
</div> 
<div class = "row">　</div> 


<table>
  <tbody>
    <% @follow.each do |follow| %>
      <div class = "row text-center">
        <div class = "col-md-2"><p>　</p></div>
        <div class = "col-md-2"><p><%= image_tag(url_for(icon_of_users_path(follow.followed_user_id)), size: '100x100') %></p></div>
        <div class = "col-md-8">
          <div class = "row">
            <div class = "col-md-2"><p>　</p></div>
          </div>
          <div class = "row">
            <div class = "col-md-2"><p><%= link_to follow.followed_user.name ,profile_path(follow.followed_user_id, key: 7) %></p></div><div class = "col-md-4"><p><%= link_to 'プロフィール', profile_path(follow.followed_user_id) %> </p></div> <%#チャット画面ができたらチャットの文字とパスに変更する %>
          </div>
          <div class = "row">
            <div class = "col-md-2"><p>　</p></div>
          </div>
          <div class = "col-md-2"><p>　</p></div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>


<div class = "row">　</div> 
<div class = "row">　</div> 



<div class = "row">
  <div class = "col-md-2"><p>　</p></div>
  <div class = "col-md-8">
    <%= link_to '戻る', chat_top_path(@user_id) %>
  </div>
  <div class = "col-md-2"><p>　</p></div>
  
</div>

