<p id="notice"><%= notice %></p>

<h1>個人チャット</h1>

<table>
  <tbody>
    <% @follow.each do |follow| %>
      <tr>
            <td><%= image_tag(url_for(icon_of_users_path(follow.followed_user_id)), size: '100x100') %></td>
            <td><%= link_to follow.followed_user.name ,profile_path(follow.followed_user_id, key: 7) %></td>
            <td><%= link_to 'プロフィール', profile_path(follow.followed_user_id) %></td>
            <td>
              <% member = open_member_record(follow.followed_user_id) %>
              <% if member.nil? %>
                <%= form_for Room.new, url: rooms_path do |room| %>
                  <%= fields_for Member.new do |followed_user| %>
                    <%= followed_user.hidden_field :followed_user_id, :value => follow.followed_user_id %>
                  <% end %>
                <%= button_tag "チャットを始める", type: "submit", id: "chat_submit", class: "form-control" %>
                <% end %>
              <% else %>
                <%= link_to messages_path(room_id: member.room_id) do %>
                <%= button_tag "チャットを続ける", id: "chat_submit", class: "form-control" %>
                <% end %>
              <% end %>
            </td>
      </tr>
    <% end %>

  </tbody>
</table>